@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Property Guide</h1>
    <p class="lead">
        Property Guide is the UK's largest property portal.
    </p>
    <p>
        Our aim is to be the place for all UK home hunters to find details of all properties available to buy or rent. Our website and mobile platforms provide an easy to use but sophisticated online property search. With the depth of information that it provides, home hunters can immediately identify a preferred property.
    </p>
    <p>
        <a href="@Url.Action("Login", "Account")" class=" btn btn-primary btn-lg">Login &raquo;</a>
        &nbsp;
        <a href="@Url.Action("Register", "Account")" class=" btn btn-primary btn-lg">Signup &raquo;</a>
    </p>
</div>
